<%- include('layout/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-success">
                    <h3 class="text-light">Edit Patient's Details</h3>
                </div>
                <div class="card-body p-4">
                    <form action="/updatePatient/<%= patient._id %>" method="post" id="add-form" enctype="multipart/form-data">
                        <div class="md-3">
                            <label for="name">Name</label>
                            <input type="text" name="name" class="form-control form-control-lg" placeholder="Enter Your Name" value="<%= patient.name %>" required />
                        </div>

                        <div class="mb-3">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control form-control-lg" placeholder="Enter Your Email" value="<%= patient.email %>" required />
                        </div>

                        <div class="mb-3">
                            <label for="phone">Phone</label>
                            <input type="tel" name="phone" class="form-control form-control-lg" placeholder="Enter Your Phone Number" value="<%= patient.phone %>" required />
                        </div>

                        <div class="mb-3">
                            <label for="image" class="form-label">Select Image</label>
                            <input class="form-control form-control-lg" type="file" name="image" />
                            <img src="/<%= patient.image %>" width="100" class="img-thumbnail mt-1">
                        </div>

                        <input type="hidden" name="old_image" value="<%= patient.image %>"/>
                        
                        <div class="mb-3 d-grid">
                            <input type="submit" name="submit" value="Update Patient" class="btn btn-success btn-lg" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer') %>