<%- include('layout/userHeader') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/userService.css">
</head>
<body>
    <h2 id="title">OUR DOCTORS</h2>
                                <% Doctor.forEach((row, index) => { %>

                                    <div class="card">

                                        <div><img src="<%= row.image %>" width="200" class="img-thumbnail" ></div>
                                        <h3><%= row.name %></h3>
                                        <div><%= row.email %></div>
                                        <div><%= row.phone %></div>

                                        <br>
                                        <div>                                    
                                            <button class="btn" onclick="navigateAppoint()">Book an Doctor</button>
                                    
                                                <script>
                                                    function navigateAppoint() {
                                                         window.location.href = '/add_appoint';
                                                                    }
                                                 </script></div>
                                    </div>
                                <% }) %>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
